<!DOCTYPE html>
<html>
  <head>
    <title>UserTraking</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <nav class="flex justify-between p-5 ">
      <div>
        <% if current_admin %>
          <%= link_to 'Dash Board', admins_dashboard_path %>
          <%= link_to('登出', destroy_admin_session_path, class:'mx-3', data: { turbo_method: 'delete' }) %>
        <% end %>
      </div>
      <div>
        <%= link_to 'home', root_path, class:'mx-3' %>
      </div>
    </nav>
  </head>

  <body>
    <%= flash[:notice] %>
    <%= flash[:alert] %>

    <main class="container mx-auto mt-8 px-5">
      <%= yield %>
    </main>
  </body>
</html>
