<!DOCTYPE html>
<html>
  <head>
    <title>UserTraking</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <nav class="flex justify-between p-5 ">
      <div>
        <% if current_user %>
          <%= link_to('登出', destroy_user_session_path, data: { turbo_method: 'delete' }) %> |
          <%= link_to('修改密碼', edit_registration_path(:user)) %>
        <% else %>
          <%= link_to('註冊', new_registration_path(:user)) %> |
          <%= link_to('登入', new_session_path(:user)) %>
        <% end %>
      </div>
      <div>
        <% if current_admin %>
        <% else %>
          <%= link_to('後台註冊', new_registration_path(:admin)) %> |
          <%= link_to('後台登入', new_session_path(:admin)) %>
        <% end %>        
      </div>
    </nav>
  </head>

  <body>
    <main class="container m-5">
      <%= yield %>
    </main>
  </body>
</html>
